<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.fhict.fontys.kingsen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconforlaucher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconforlaucher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="Groups"
            android:theme="@style/AppTheme2" />

        <activity android:name=".MiniGameActivity"
            android:theme="@style/AppTheme2"/>

        <activity android:name=".GameActivity"
            android:theme="@style/AppTheme2"/>

        <activity android:name=".MiniGameResultActivity"
            android:theme="@style/AppTheme2"/>

        <activity android:name=".StartActivity"
            android:label="Startscreen"
            android:theme="@style/AppTheme"/>

        <activity android:name=".GameExplainActivity"
            android:theme="@style/AppTheme2"/>

        <activity android:name=".BalanceGameMainActivity"
            android:theme="@style/AppTheme2"/>

        <activity android:name=".CustomRulesActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>